/* ChatScreen.css */

.Background {
    background-color: #313644;
    height: 100vh;
    width: 100%;
    display: flex;
  }
  
  .flexContainer {
    display: flex;
    width: 95%;
    height: 90%
  }

  .LanguageAndMemberContainer{
    width: 17%;
    height: 97%;
    margin-right: 15px;
  }
  
  .trafficLightContainer{
    width: 100%;
    height: 10%;
    margin-bottom: 10px;
    background-color: grey;
    border: solid 2px;
    border-radius: 11px;
    display: flex;
    align-items: center;
  }

  .redLight,
  .yellowLight,
  .greenLight,
  .redActive,
  .yellowActive,
  .greenActive {
    border: solid 2px;
    border-radius: 50%;
    width: 20%;
    height: 70%;
    margin-right: 10%;
  }

  .redLight{
    background-color: #3d0d0d;
    margin-left: 10%;
  }

  .yellowLight{
    background-color: #3d390d;
  }

  .greenLight{
    background-color: #0e3d0d;
  }

  .redActive{
    background-color: #ff6347;
  }

  .yellowActive{
    background-color: #ffd700;
  }

  .greenActive{
    background-color: #00ff7f;
  }

  .chatMembersListContainer {
    background-color: #7683D7;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px;
    border-radius: 11px;
  }

  .chatMembersListContainer:hover,
  .messageInput:hover
  {
    border-color: orange;
  }
  
  .membersList {
    padding: 10px;
  }
  
  .member {
    margin-bottom: 8px;
    color: white;
  }

  .member:hover{
    color: orange;
  }
  
  /* ChatWindowAndInputContainer Styles */
  .chatWindowAndInputContainer {
    width: 83%;
    display: flex;
    flex-direction: column;
  }
  
  /* ChatWindow Styles */
  .chatWindowContainer {
    height: 97%;
    background-color: #DCE5FF;
    overflow-y: auto;
    border: solid 2px;
    border-radius: 11px;
  }
  
  .chatMessages {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #5762D5;
    border-radius: 10px;
    max-width: 75%;
    box-sizing: border-box;
  }
  
  .userMessage {
    background-color: #5762D5;
    color: #fff;
  }
  
  .botMessage {
    background-color: #FF6347;
    color: #fff;
  }
  
  .sender {
    font-weight: bold;
    color: white;
  }
  
  .messageInputContainer {
    width: 100% - 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0px;
  }

  .inputContainer{
    width: 75%;
    justify-content: center;
    align-items: center;
  }
  
  .messageInput {
    width: 99%;
    height: 100%;
    border: solid 2px;
    border-color: black;
    border-radius: 8px;
    background-color: #7683D7;
    color: white;
  }

  .messageInput:focus{
    outline: none;
    border-color: orange;
  }
  
  /* MessageSendButton Styles */
  .SendButtonContainer {
    width: 20%;
    display: flex;
    justify-content: center;
  }
  
  .sendButton {
    width: 75%;
    height: 100%;
    border: solid 2px;
    border-radius: 8px;
  }

  .sendButton:hover{
    border-color: orange;
    background-color: white;
  }